<div class="card bg-base-100 shadow-sm">
  <figure>
    <picture class="mask-b-from-20% mask-b-to-99%">
      <source media="(max-width: 1024px)" srcset="/assets/images/suscription/portada.webp">
      <img
        class=""
        src="/assets/images/suscription/portada_ancha.webp"
        alt="Imagen Promocional"
      />
    </picture>
  </figure>
  <div class="card-body grid grid-cols-2">
    <div>
      <h2 class="card-title md:text-xl font-nixie">
        !Suscribase al Rincón+!
        <div class="badge badge-secondary">NEW</div>
      </h2>
      <p class="md:text-lg font-nixie text-bold">Haz click en el botón para conocer los detalles</p>
    </div>
    <div class="flex justify-end">
        <button routerLink="/suscription" class="btn btn-wide md:p-6 sm:p-8 p-10 font-nixie text-[15px] btn-secondary">Suscribirse</button>
    </div>
  </div>
</div>
